body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #fff4d1;
    color: #333;
}

/* Navbar */
.navbar {
    background: #90694e;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 120px 20px;
    color:white;
    background: url('https://images.unsplash.com/photo-1511920170033-f8396924c348?auto=format&fit=crop&w=1200&q=80')
    center/cover no-repeat;
}

/* Menu */
.menu {
    padding: 40px;
    text-align: center;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.item {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #6c4a32;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}